# Dependencies
node_modules
.pnpm-store

# Build output
.next
out
dist
build

# Development
.git
.gitignore
*.md
LICENSE

# IDE
.vscode
.idea

# Testing
coverage
.nyc_output

# Misc
*.log
.DS_Store
Thumbs.db
.env.local
.env.development.local
.env.test.local
.env.production.local
